<!-- including partials- header.ejs  -->
<%- include("partials/header.ejs")%>

    <h1>
        <%=postTitle%>
    </h1>
    <p>
        <%= postBody%>
    </p>

    <!-- including partials- footer.ejs -->
    <%- include("partials/footer.ejs")%>